
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# Virtual environments
venv/
env/
ENV/

# Generated directories
data/
results/
figures/

# Specific to this project
*.xlsx
*.txt.gz
!requirements.txt
!README.txt
